.wwebjs_auth/
.wwebjs_cache/
node_modules
pruebas.js
change.py
prueba.js
data.json
video.mp4
cookie.json
data.db
session
config.json
.vscode/launch.json
.env
assets/audio
package-lock.json
cookies/cookiemc.json
data.sql
data
