.wwebjs_auth/
.wwebjs_cache/
node_modules
n.mp3
pruebas.js
change.py
prueba.js
data.json
video.mp4
cookie.json
data.db
session
1722825397321-base.js
1722823546163-base.js
1722817120688-base.js
config.json
.vscode/launch.json
