.wwebjs_auth/
.wwebjs_cache/
node_modules
n.mp3
pruebas.js
change.py
prueba.js
data.json
.azure
next-steps.md
infra/abbreviations.json
infra/main.bicep
azure.yaml
infra/main.parameters.json
infra/app/bot-whatsapp.js.bicep
infra/modules/fetch-container-image.bicep
infra/shared/apps-env.bicep
infra/shared/dashboard-web.bicep
infra/shared/keyvault.bicep
infra/shared/monitoring.bicep
infra/shared/registry.bicep